@define-color borders_breeze #4a4c60;
@define-color content_view_bg_breeze #222233;
@define-color error_color_backdrop_breeze #c89caa;
@define-color error_color_breeze #f38ba8;
@define-color error_color_insensitive_backdrop_breeze #8e576e;
@define-color error_color_insensitive_breeze #8e576e;
@define-color insensitive_base_color_breeze #202031;
@define-color insensitive_base_fg_color_breeze #797f99;
@define-color insensitive_bg_color_breeze #1d1d2c;
@define-color insensitive_borders_breeze #333547;
@define-color insensitive_fg_color_breeze #787d97;
@define-color insensitive_selected_bg_color_breeze #1d1d2c;
@define-color insensitive_selected_fg_color_breeze #787d97;
@define-color insensitive_unfocused_bg_color_breeze #1d1d2c;
@define-color insensitive_unfocused_fg_color_breeze #787d97;
@define-color insensitive_unfocused_selected_bg_color_breeze #1d1d2c;
@define-color insensitive_unfocused_selected_fg_color_breeze #787d97;
@define-color link_color_breeze #b9c8ea;
@define-color link_visited_color_breeze #89b4fa;
@define-color success_color_backdrop_breeze #a7ddaa;
@define-color success_color_breeze #a6e3a1;
@define-color success_color_insensitive_backdrop_breeze #66866a;
@define-color success_color_insensitive_breeze #66866a;
@define-color theme_base_color_breeze #222233;
@define-color theme_bg_color_breeze #1e1e2e;
@define-color theme_button_background_backdrop_breeze #46485b;
@define-color theme_button_background_backdrop_insensitive_breeze #424456;
@define-color theme_button_background_insensitive_breeze #424456;
@define-color theme_button_background_normal_breeze #45475a;
@define-color theme_button_decoration_focus_backdrop_breeze #5472a7;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #455b82;
@define-color theme_button_decoration_focus_breeze #4c73ae;
@define-color theme_button_decoration_focus_insensitive_breeze #455b82;
@define-color theme_button_decoration_hover_backdrop_breeze #5472a7;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #455b82;
@define-color theme_button_decoration_hover_breeze #4c73ae;
@define-color theme_button_decoration_hover_insensitive_breeze #455b82;
@define-color theme_button_foreground_active_backdrop_breeze #cfd3de;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #787d97;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #787d97;
@define-color theme_button_foreground_backdrop_breeze #d0d3df;
@define-color theme_button_foreground_backdrop_insensitive_breeze #888faa;
@define-color theme_button_foreground_insensitive_breeze #888faa;
@define-color theme_button_foreground_normal_breeze #cdd6f4;
@define-color theme_fg_color_breeze #cdd6f4;
@define-color theme_header_background_backdrop_breeze #202030;
@define-color theme_header_background_breeze #1e1e2e;
@define-color theme_header_background_light_breeze #1e1e2e;
@define-color theme_header_foreground_backdrop_breeze #d0d2db;
@define-color theme_header_foreground_breeze #cdd6f4;
@define-color theme_header_foreground_insensitive_backdrop_breeze #d0d2db;
@define-color theme_header_foreground_insensitive_breeze #d0d2db;
@define-color theme_hovering_selected_bg_color_breeze #4c73ae;
@define-color theme_selected_bg_color_breeze #3f5a89;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #cdd6f4;
@define-color theme_titlebar_background_backdrop_breeze #1e1e2e;
@define-color theme_titlebar_background_breeze #1e1e2e;
@define-color theme_titlebar_background_light_breeze #1e1e2e;
@define-color theme_titlebar_foreground_backdrop_breeze #bac2de;
@define-color theme_titlebar_foreground_breeze #cdd6f4;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #bac2de;
@define-color theme_titlebar_foreground_insensitive_breeze #bac2de;
@define-color theme_unfocused_base_color_breeze #242435;
@define-color theme_unfocused_bg_color_breeze #202030;
@define-color theme_unfocused_fg_color_breeze #d0d2db;
@define-color theme_unfocused_selected_bg_color_alt_breeze #243048;
@define-color theme_unfocused_selected_bg_color_breeze #243048;
@define-color theme_unfocused_selected_fg_color_breeze #cfd3de;
@define-color theme_unfocused_text_color_breeze #d0d2dc;
@define-color theme_unfocused_view_bg_color_breeze #202031;
@define-color theme_unfocused_view_text_color_breeze #797f99;
@define-color theme_view_active_decoration_color_breeze #4c73ae;
@define-color theme_view_hover_decoration_color_breeze #4c73ae;
@define-color tooltip_background_breeze #101019;
@define-color tooltip_border_breeze #3f4250;
@define-color tooltip_text_breeze #cdd6f4;
@define-color unfocused_borders_breeze #4c4d5b;
@define-color unfocused_insensitive_borders_breeze #333547;
@define-color warning_color_backdrop_breeze #eadecb;
@define-color warning_color_breeze #f9e2af;
@define-color warning_color_insensitive_backdrop_breeze #918572;
@define-color warning_color_insensitive_breeze #918572;
